nr-sapi/src/main/mule/Implementation.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:json-logger="http://www.mulesoft.org/schema/mule/json-logger" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:wsc="http://www.mulesoft.org/schema/mule/wsc"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/wsc http://www.mulesoft.org/schema/mule/wsc/current/mule-wsc.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/json-logger http://www.mulesoft.org/schema/mule/json-logger/current/mule-json-logger.xsd">
 
	<flow name="trainStatus" doc:id="194d1ba6-5a76-430d-b9fa-b8fb20cf4f9c" >
		<json-logger:logger doc:name="Start Logger" doc:id="88ab6578-d091-47eb-9a45-e1d74e02d67b" config-ref="JSON_Logger_Config" message="Start Logging"/>
		<ee:transform doc:name="Transform Message" doc:id="58198ef0-85b8-4c2c-b667-2ee78fcd8752" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/xml
ns ns0 http://thalesgroup.com/RTTI/2017-10-01/ldb/
---
{
	ns0#GetArrBoardWithDetailsRequest: {
		ns0#numRows: 100,
		ns0#crs: attributes.queryParams.sourceloc,
		ns0#filterCrs: attributes.queryParams.destinationloc,
		ns0#timeWindow: attributes.queryParams.timewindow
	}
}]]></ee:set-payload>
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="token" ><![CDATA[%dw 2.0
output application/xml
---
headers:{
	AccessToken:
{
	TokenValue: "1dc8f05e-cc60-484f-a370-5851a7f50e20"
}
}]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<wsc:consume doc:name="Consume" doc:id="71f03969-ac54-4302-8956-9a7367c389f8" operation="GetArrBoardWithDetails" config-ref="Web_Service_Consumer_Config">
			<wsc:message >
				<wsc:headers ><![CDATA[#[vars.token]]]></wsc:headers>
			</wsc:message>
		</wsc:consume>
		<ee:transform doc:name="Transform Message" doc:id="45bea4a3-eb6c-4aad-9354-4fa62bd27a48">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
import * from dw::core::Periods
output application/json
ns ns0 http://thalesgroup.com/RTTI/2017-10-01/ldb/
ns ns01 http://thalesgroup.com/RTTI/2015-11-27/ldb/types
ns ns02 http://thalesgroup.com/RTTI/2017-10-01/ldb/types
fun format(time) = time as Time {format:"HH:mm:ss"}
---
payload.body.ns0#GetArrBoardWithDetailsResponse.ns0#GetStationBoardResult.ns02#trainServices.*ns02#service map ( service , indexOfService ) -> {
	SourceLoc: payload.body.ns0#GetArrBoardWithDetailsResponse.ns0#GetStationBoardResult.ns01#crs default "",
	DestinationLoc: payload.body.ns0#GetArrBoardWithDetailsResponse.ns0#GetStationBoardResult.ns01#filtercrs default "",
	StandardTimeOfArrival: service.ns01#sta default Time,
	ExpectedTimeOfArrival: service.ns01#eta default Time,
	DelayReason: (service.ns01#cancelReason default "")++" "++(service.ns01#delayReason default ""),
	PlatformAvailable: service.ns01#platform as Number default 0
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
